
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 1440px;
  overflow-x: hidden;
  
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 50;
}